# Database & Secrets
ADMIN_SECRET=your_admin_secret

# Turnstile Bot Protection
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x00000000000000000000AA00000000000

# Resend Email
RESEND_API_KEY=re_123456789
RESEND_FROM_EMAIL=onboarding@resend.dev

# Twilio SMS
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXAAAAAAAAAAAAAAAA
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=+10000000000
